<!-- sections/custom-video.liquid -->
<div class="custom-video-container">
    <div class="video-box">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="content-box">
        <h2>Page Title</h2>
        <p>Page content goes here. You can add text, images, or any other HTML content here.</p>
    </div>
</div>
